swa:
  token:
    expiration-duration: 1d
  api:
    base: /

server:
  port: 8080
  servlet:
    context-path: /

logging:
  #  datasource:
  #    url: jdbc:mysql://db:3306?createDatabaseIfNotExist=true
  level:
    web: INFO

springdoc:
  # Disable Swagger in Production
  api-docs:
    path: /api-docs
    enabled: false
  swagger-ui:
    path: /swagger
    enabled: false

spring:
  profiles:
    active: "prod"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost/plant_health
    username: spring
    password: password
  h2:
    console:
      enabled: false
  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MySQLDialect
      # Create Model Tables on Startup
      ddl-auto: create
  web:
    resources:
      # Disable static Resource Mapping
      add-mappings: false
